@media only screen and (max-width: 1366px) {
    .carousel-caption {
        right: 40%;
        bottom: 25%;
        text-align: left;
    }

    .carousel-caption h5 {
        font-size: 3em;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        color: #800000;
    }
    
    .pdgl-4{
        padding-left: 8rem;
    }
}

@media only screen and (max-width: 1199px) {
    .carousel-caption {
        right: 40%;
        bottom: 14%;
        text-align: left;
    }

    .carousel-caption h5 {
        font-size: 2.5em;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        color: #800000;
    }

    .logo-box {
        right: 70%;
    }

    .searchbox.col-lg-5.offset-lg-2.pt-2{
        margin-right: 44px;
    }
    
    .pdgl-4{
        padding-left: 8rem;
    }
}

@media only screen and (max-width: 991px) {
    .carousel-caption {
        right: 40%;
        bottom: 4%;
        text-align: left;
    }

    .carousel-caption h5 {
        font-size: 2em;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        color: #800000;
    }

    .envio-info {
        height: 11em;
    }

    .sobre-right {
        top: 7%;
        left: 35%;
    }

    .borderfooter {
        border-right: none;
    }

    .logo-box {
        display: none !important;
    }
    .cardvitrinetop{
        max-height: 220px;
        height: 220px;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .envio-info .bold-text {
        font-size: 13.5px;
    }

    .sobre-right {
        top: 10%;
        left: 35%;
        font-size: 0.95em;
    }

    .sobre-right p {
        font-size: 0.9em;
    }

    .borderfooter {
        border-right: none;
    }
    .cardvitrinetop{
        max-height: 170px;
        height: 170px;
    }
    .vitrine-card{
        top: 10px !important;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 575px) {
    .sobre-right {
        top: 10%;
        right: 3%;
        font-size: 0.9em;
    }

    .borderfooter {
        border-right: none;
    }
    footer{
        text-align: center;
    }
    .iconesfooter{
        justify-content: center;
    }
    .cardvitrinetop{
        max-height: 250px;
        height: 250px;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 505px) {
    .sobre-right {
        top: 10%;
        right: 3%;
        font-size: 0.862em;
    }

    .borderfooter {
        border-right: none;
    }
    footer{
        text-align: center;
    }
    .iconesfooter{
        justify-content: center;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 484px) {
    .sobre-right {
        top: 10%;
        right: 3%;
        font-size: 0.84em;
    }

    .borderfooter {
        border-right: none;
    }
    footer{
        text-align: center;
    }
    .iconesfooter{
        justify-content: center;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 420px) {
    .sobre-right {
        top: 3%;
        right: 3%;
        font-size: 0.8em;
    }

    .borderfooter {
        border-right: none;
    }
    footer{
        text-align: center;
    }
    .iconesfooter{
        justify-content: center;
    }
    .pdgl-4{
        padding-left: 0;
    }
}

@media only screen and (max-width: 380px) {
    .sobre-right {
        top: 2%;
        right: 3%;
        font-size: 0.75em;
    }

    .borderfooter {
        border-right: none;
    }

    .info-local {
        font-size: 11px;
    }
    footer{
        text-align: center;
    }
    .iconesfooter{
        justify-content: center;
    }
    .cardvitrinetop{
        max-height: 220px;
        height: 220px;
    }
    .pdgl-4{
        padding-left: 0;
    }
}